In [1]:
print('Hello, world!')

Hello, world!

In [2]:
print(1234)

1234

In [3]:
print('1234')

1234

In [4]:
if a == 10:
    print('10입니다.')

NameError: name 'a' is not defined

In [5]:
if a == 10:
     print('10입니다.')

NameError: name 'a' is not defined

In [6]:
a=10
if a == 10:
     print('10입니다.')

10입니다.

In [7]:
a=10

if a==10:
    print('10')
    print('입니다')

10
입니다

In [8]:
a=10

if a==10:
    print('10')
     print('입니다')

IndentationError: unexpected indent (<ipython-input-8-e22dcd6d0a7e>, line 5)

In [9]:
a=10

if a==10:
    print('10')
     #print('입니다')

10

In [1]:
'''여러줄에 걸쳐서
출력을 하고싶다면???
이렇게 하면 된다고 
합니다.'''

'여러줄에 걸쳐서\n출력을 하고싶다면???\n이렇게 하면 된다고 \n합니다.'

In [2]:
a = 'hello python'
     012345678901
     
a[0] = 'h'
a[11] = 'n'
a[-1] = 'n'    # -1은 뒤에서 부터 인덱싱할 때 사용. 참고로 -0은 0과 같으므로 h를 가리킴

IndentationError: unexpected indent (<ipython-input-2-92780ac995ac>, line 2)

In [3]:
a = 'hello python'
a[0] = 'h'
a[11] = 'n'
a[-1] = 'n'    # -1은 뒤에서 부터 인덱싱할 때 사용. 참고로 -0은 0과 같으므로 h를 가리킴

TypeError: 'str' object does not support item assignment

In [4]:
a = 'hello python'

In [5]:
a[0]

'h'

In [6]:
a[11]

'n'

In [7]:
a[-1]

'n'

In [8]:
a[1:5]

'ello'

In [9]:
a[0:4]

'hell'

In [11]:
len(a)

12

In [14]:
b = "현재 시간은 오전 7시입니다"

In [18]:
time = 7
f"현재 시간은 오전 {time}시입니다."

'현재 시간은 오전 7시입니다.'

In [19]:
time = 7
f"현재 시간은 오전 {time}시입니다."

'현재 시간은 오전 7시입니다.'

In [20]:
time=2

In [21]:
time=1
f"지금 시간은 몇시? 오전{time}시랍니다~!"

'지금 시간은 몇시? 오전1시랍니다~!'

In [22]:
"현재 시간은 %s %d시입니다." %('오전', 7)

'현재 시간은 오전 7시입니다.'

In [28]:
a=['list', 'tuple', 'set', 'dictionary']
a

['list', 'tuple', 'set', 'dictionary']

In [30]:
list_1 = [1,'hello',[2,3,4]]
list_1

[1, 'hello', [2, 3, 4]]

In [31]:
list_1[0]c

1

In [32]:
print(list_1[:])

[1, 'hello', [2, 3, 4]]

In [33]:
list_1

[1, 'hello', [2, 3, 4]]

In [35]:
a=('Hello, world!')
a.index('o')

4

In [40]:
a = "Hello, World"
a.index('t') #a.find('t') find는 없는 문자를 -1로 알려주고 index는 에러로 표시한다

ValueError: substring not found

In [41]:
a = "Hello, World"
a.find('t') #a.find('t') find는 없는 문자를 -1로 알려주고 index는 에러로 표시한다

-1

In [42]:
v=""
v.join('1234')

'1234'

In [43]:
v="12"
v.join('12334')

'1122123123124'

In [44]:
v="123"
v.join('789')

'712381239'

In [45]:
m=""
m.join('1234')

'1234'

In [46]:
s=","
s.join('1234')

'1,,,2,,,3,,,4'

In [47]:
s=","
s.join('1234')

'1,2,3,4'

In [48]:
a=

SyntaxError: invalid syntax (<ipython-input-48-3820896b1a8d>, line 1)

In [49]:
a= "He's reading a book"
a.split()

["He's", 'reading', 'a', 'book']

In [50]:
a="03-1234-5678"

In [52]:
a="03-1234-5678"
a.split(-)

SyntaxError: invalid syntax (<ipython-input-52-6eb84cf0d8cf>, line 2)

In [53]:
a="03-1234-5678"
a.split('-')

['03', '1234', '5678']

In [59]:
a="02-1234-5678"
a.count('0')

1

In [68]:
a = "hhappy"
a.count('h')

2

In [69]:
a=[]

In [73]:
a=list()

In [81]:
a= [1, 3, 5]
a
b= [2, 4, 8]
b

[2, 4, 8]

In [88]:
a[1:2]=['a','b','c']
a

[1, 'a', 'b', 'c', 'b', 'c', 5]

In [89]:
a=[9,2,3,1,0]
a.sort()
a

[0, 1, 2, 3, 9]

In [93]:
a = ['i', 'h']
a.sort()
a.reverse()
ab

['i', 'h']

In [94]:
a= [1,2,3,4,5]
a.insert(0,7)
ab

[7, 1, 2, 3, 4, 5]

In [95]:
a

[7, 1, 2, 3, 4, 5]

In [104]:
dic = {'book':10000, 'pen':1000, 'case':5000 }
dic

{'book': 10000, 'pen': 1000, 'case': 5000}

In [107]:
dic1 = {1:'hello'}
dic2 = {1:['a','b','c']}
dic3 = {1:(1,2,3)}

{1: ['a', 'b', 'c']}

In [113]:
hungry = 1

if hungry:
    print("프린트 한다.")
else:
    print("프린트를 하지않는다.")

프린트 한다.

In [114]:
hungry = 40
if hungry >= 50:
    print("밥을 먹는다.")
else :
    print("밥을 안먹는다.")

밥을 안먹는다.

In [116]:
a=0
b=1
if a or b:
    print("True")
else:
    print("False")

True

In [124]:
import turtle

turtle.shape('turtle')

distance = 100
angle = 180-35
turtle.fd(distance)
turtle.left(angle)
turtle.fd(distance)
turtle.left(angle)
turtle.fd(distance)
turtle.left(angle)
turtle.fd(distance)
turtle.left(angle)
turtle.fd(distance)
turtle.left(angle)

In [27]:
import pandas as pd
df2 = pd.read_csv('merge_move6229_20220422.csv', encoding='CP949')

In [28]:
df2

,시리얼,관리번호,구분,설치장소,담당기관,위도,경도,obs,초미세먼지,미세먼지,...,이산화질소,이산화황,암모니아,황화수소,month,date,date.time,onlytime,time,공원비공원
0,OC3CL200230,이동형-2001,기상청,기상기후대 폴대,기상청,37.573940,126.829500,78316,43,63,...,0.027,0.004,0.206,NaN,7,2021-07-01,2021-07-01 00,0,1,인근지
1,OC3CL200230,이동형-2001,기상청,기상기후대 폴대,기상청,37.573940,126.829500,81571,39,57,...,0.028,0.004,0.151,NaN,7,2021-07-01,2021-07-01 01,1,2,인근지
2,OC3CL200230,이동형-2001,기상청,기상기후대 폴대,기상청,37.573940,126.829500,84827,38,56,...,0.029,0.004,0.145,NaN,7,2021-07-01,2021-07-01 02,2,3,인근지
3,OC3CL200230,이동형-2001,기상청,기상기후대 폴대,기상청,37.573940,126.829500,88080,40,59,...,0.032,0.004,0.114,NaN,7,2021-07-01,2021-07-01 03,3,4,인근지
4,OC3CL200230,이동형-2001,기상청,기상기후대 폴대,기상청,37.573940,126.829500,91331,39,57,...,0.029,0.004,0.157,NaN,7,2021-07-01,2021-07-01 04,4,5,인근지
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34644,OC3CL200259,이동형-2030,기상청,건물 옥상,기상청,37.510855,127.097153,6513732,11,17,...,0.033,0.004,0.000,0.325,9,2021-09-30,2021-09-30 12,12,2098,인근지
34645,OC3CL200259,이동형-2030,기상청,건물 옥상,기상청,37.510855,127.097153,6517011,9,14,...,0.032,0.004,0.000,0.286,9,2021-09-30,2021-09-30 13,13,2099,인근지
34646,OC3CL200259,이동형-2030,기상청,건물 옥상,기상청,37.510855,127.097153,6520288,9,14,...,0.032,0.004,0.000,0.787,9,2021-09-30,2021-09-30 14,14,2100,인근지
34647,OC3CL200259,이동형-2030,기상청,건물 옥상,기상청,37.510855,127.097153,6523573,10,15,...,0.032,0.004,0.000,0.384,9,2021-09-30,2021-09-30 15,15,2101,인근지
34648,OC3CL200259,이동형-2030,기상청,건물 옥상,기상청,37.510855,127.097153,6526855,17,25,...,0.033,0.004,0.000,0.456,9,2021-09-30,2021-09-30 16,16,2102,인근지

In [29]:
stock = ["삼성전자", "LG전자", "SK하이닉스", "NAVER", "카카오"]

In [30]:
for i in stock:
    print(i)

삼성전자
LG전자
SK하이닉스
NAVER
카카오

In [32]:
import time

for i in stock:
    print(i)
    time.sleep(0.5)

삼성전자
LG전자
SK하이닉스
NAVER
카카오

In [35]:
pip install finance-datareader

Requirement already satisfied: finance-datareader in c:\programdata\anaconda3\lib\site-packages (0.9.33)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from finance-datareader) (4.5.0)
Requirement already satisfied: requests-file in c:\programdata\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from finance-datareader) (4.42.1)
Requirement already satisfied: pandas>=0.19.2 in c:\programdata\anaconda3\lib\site-packages (from finance-datareader) (1.0.1)
Requirement already satisfied: requests>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from finance-datareader) (2.22.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from requests-file->finance-datareader) (1.14.0)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2019.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [37]:
import FinanceDataReader as fdr
stocks = fdr.DataReader('005930', '2021-11-01', '2021-11-05')

In [40]:
stocks.insert(0, 'code', '005930', True)
stocks

              code    code   Open   High    Low  Close    Volume    Change
Date
2021-11-01  005930  005930  70200  70600  69900  69900  11503729  0.001433
2021-11-02  005930  005930  70800  72200  70700  71500  16812570  0.022890
2021-11-03  005930  005930  71700  71700  70100  70400  12770428 -0.015385
2021-11-04  005930  005930  71200  71600  70500  70600  11818987  0.002841
2021-11-05  005930  005930  71600  71600  70200  70200  12667743 -0.005666

In [46]:
import FinanceDataReader as fdr

stocks = fdr.StockListing('KRX') # 전 종목(코스피 + 코스닥 + 코넥스)
print(stocks)

result = stocks.fillna("")
print(result)

      Symbol  Market             Name                    Sector  \
0     060310  KOSDAQ               3S                  전자부품 제조업
1     095570   KOSPI           AJ네트웍스           산업용 기계 및 장비 임대업
2     006840   KOSPI            AK홀딩스                    기타 금융업
3     054620  KOSDAQ           APS홀딩스                    기타 금융업
4     265520  KOSDAQ            AP시스템             특수 목적용 기계 제조업
...      ...     ...              ...                       ...
7724  000545   KOSPI            흥국화재우                       NaN
7725  003280   KOSPI             흥아해운                    해상 운송업
7726  037440  KOSDAQ               희림  건축기술, 엔지니어링 및 관련 기술 서비스업
7727  419890   KOSPI  히어로즈 단기채권ESG액티브                       NaN
7728  238490  KOSDAQ               힘스             특수 목적용 기계 제조업

                            Industry ListingDate SettleMonth  \
0                        반도체 웨이퍼 캐리어  2002-04-23         03월
1                렌탈(파렛트, OA장비, 건설장비)  2015-08-21         12월
2                               지주사업  1999-08-11         12월
3                        인터넷 트래픽 솔루션  2001-12-04         12월
4                        디스플레이 제조 장비  2017-04-07         12월
...                              ...         ...         ...
7724                             NaN         NaT         NaN
7725                  외항화물운송업(케미컬탱커)  1976-06-29         12월
7726                       설계 및 감리용역  2000-02-03         12월
7727                             NaN         NaT         NaN
7728  OLED Mask 인장기, OLED Mask 검사기 등  2017-07-20         12월

            Representative                       HomePage Region
0                      김세완           http://www.3sref.com  서울특별시
1                 박대현, 손삼달         http://www.ajnet.co.kr  서울특별시
2        채형석, 이석주(각자 대표이사)  http://www.aekyunggroup.co.kr  서울특별시
3                      정기로   http://www.apsholdings.co.kr    경기도
4                      김영주     http://www.apsystems.co.kr    경기도
...                    ...                            ...    ...
7724                   NaN                            NaN    NaN
7725                   이환구         http://www.heung-a.com  서울특별시
7726  정영균, 이목운, 허철호 (각자대표)          http://www.heerim.com  서울특별시
7727                   NaN                            NaN    NaN
7728                   김주환          http://www.hims.co.kr  인천광역시

[7729 rows x 10 columns]
      Symbol  Market             Name                    Sector  \
0     060310  KOSDAQ               3S                  전자부품 제조업
1     095570   KOSPI           AJ네트웍스           산업용 기계 및 장비 임대업
2     006840   KOSPI            AK홀딩스                    기타 금융업
3     054620  KOSDAQ           APS홀딩스                    기타 금융업
4     265520  KOSDAQ            AP시스템             특수 목적용 기계 제조업
...      ...     ...              ...                       ...
7724  000545   KOSPI            흥국화재우
7725  003280   KOSPI             흥아해운                    해상 운송업
7726  037440  KOSDAQ               희림  건축기술, 엔지니어링 및 관련 기술 서비스업
7727  419890   KOSPI  히어로즈 단기채권ESG액티브
7728  238490  KOSDAQ               힘스             특수 목적용 기계 제조업

                            Industry          ListingDate SettleMonth  \
0                        반도체 웨이퍼 캐리어  2002-04-23 00:00:00         03월
1                렌탈(파렛트, OA장비, 건설장비)  2015-08-21 00:00:00         12월
2                               지주사업  1999-08-11 00:00:00         12월
3                        인터넷 트래픽 솔루션  2001-12-04 00:00:00         12월
4                        디스플레이 제조 장비  2017-04-07 00:00:00         12월
...                              ...                  ...         ...
7724
7725                  외항화물운송업(케미컬탱커)  1976-06-29 00:00:00         12월
7726                       설계 및 감리용역  2000-02-03 00:00:00         12월
7727
7728  OLED Mask 인장기, OLED Mask 검사기 등  2017-07-20 00:00:00         12월

            Representative                       HomePage Region
0                      김세완           http://www.3sref.com  서울특별시
1                 박대현, 손삼달         http://www.ajnet.co.kr  서울특별시
2        채형석, 이석주(각자 대표이사)  http://www.aekyunggroup.co.kr  서울특별시
3                      정기로   http://www.apsholdings.co.kr    경기도
4                      김영주     http://www.apsystems.co.kr    경기도
...                    ...                            ...    ...
7724
7725                   이환구         http://www.heung-a.com  서울특별시
7726  정영균, 이목운, 허철호 (각자대표)          http://www.heerim.com  서울특별시
7727
7728                   김주환          http://www.hims.co.kr  인천광역시

[7729 rows x 10 columns]

In [72]:
import pandas as pd
my_list = [1,2,3,4,5]
my_list
my_series = pd.Series(my_list)
print(my_series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [84]:
one = "Hello"
two = " world"

In [92]:
a=(one+two*2)
a[0:5]

'Hello'

In [93]:
"짜장면 한 그릇에 %d원입니다." %6000

'짜장면 한 그릇에 6000원입니다.'

In [103]:
pocket = ["phone", "garbage"]
card = 0
giftcard = 0

In [104]:
if "money" in pocket:
    print("돈으로 밥을 먹는다.")
elif card:
    print("카드로 밥을 먹는다.")
elif giftcard:
    print("기프트카드로 밥을 먹는다.")
else:
    print("안먹는다.")

안먹는다.

In [ ]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다.") %treeHit
    if treeHit == 10:
        print("나무 넘어갑니다.")

In [13]:
treeHit = 1
while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [7]:
treeHit = 3
while treeHit < 10:
    treeHit = treeHit+1
    print("집에가는 시간은 %d시입니다." %treeHit)
    if treeHit == 6:
        print("집에 못갑니다.")

집에가는 시간은 4시입니다.
집에가는 시간은 5시입니다.
집에가는 시간은 6시입니다.
집에 못갑니다.
집에가는 시간은 7시입니다.
집에가는 시간은 8시입니다.
집에가는 시간은 9시입니다.
집에가는 시간은 10시입니다.

In [14]:
1+1

2

In [36]:
score=0
message = "success" if score >= 60 else "failure"
print(message)

failure

In [37]:
test_list = ['one', 'two', 'three', 'four']
for i in test_list:
    print(i)

one
two
three
four

In [40]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60:
        continue 
    else:
        print("%d번 학생은 합격입니다. 축하합니다" %number)

1번 학생은 합격입니다. 축하합니다
3번 학생은 합격입니다. 축하합니다
5번 학생은 합격입니다. 축하합니다

In [47]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [8]:
sales2 = [11,22,33,44,55]
for c in range(len(sales2)):
    if sales2[c] < 40:
        continue
    print("%d번 손님 차례입니다." %(c+1))

4번 손님 차례입니다.
5번 손님 차례입니다.

In [49]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end="")
        print('')

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81